:host {
  display: block;
}

md-outlined-text-field {
  width: 100%;
}

.search-container {
  margin-bottom: 24px;
}

md-dialog {
  min-width: 320px;
  max-width: 480px;
}

form[slot="content"] {
  padding: 8px 24px 24px 24px;
}
