:host {
  display: block;
  padding: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
}

.error-message {
  background-color: var(--md-sys-color-error-container);
  border-radius: 4px;
  color: var(--md-sys-color-on-error-container);
  padding: 12px;
}
