.desc {
  color: var(--md-sys-color-on-surface);
  margin-top: 4px;
}

.favicon {
  flex-shrink: 0;
  height: 24px;
  object-fit: contain;
  width: 24px;
}

.header {
  align-items: center;
  display: flex;
  gap: 12px;
  margin-bottom: 4px;
}

:host {
  display: block;
  margin-bottom: 8px;
}

md-elevated-card {
  --md-elevated-card-container-color: var(--md-sys-color-surface-container-low);
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px;
}

.tag {
  background: var(--md-sys-color-secondary-container);
  border-radius: 8px;
  color: var(--md-sys-color-on-secondary-container);
  padding: 4px 8px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
}

.title {
  color: var(--md-sys-color-on-surface);
}

.url {
  color: var(--md-sys-color-secondary);
  text-decoration: none;
  word-break: break-all;
}

.url:hover {
  text-decoration: underline;
}
